{% extends 'user/base.html' %}


{% block head %}
	<title>Reset Password</title>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="card border-0" style="max-width:400px;margin:50px auto auto auto;">
			<div class="card-header bg-dark text-light text-center">
				To-Do
			</div>
			<div class="card-body">
				<form action="." method="post">
					{% csrf_token %}
					<div class="form-group">
						{{form.new_password1.label_tag}}
						{{form.new_password1}}
						<p class="small text-info">Password should be at least 8 characters long.</p>
					</div>
					<div class="form-group">
						{{form.new_password2.label_tag}}
						{{form.new_password2}}
						{% if form.new_password2.errors %}
							{% for error in form.new_password2.errors %}
								<p class="text-danger small">{{error}}</p>
							{% endfor %}
						{% endif %}
					</div>
					<input type="submit" value="Reset Password">
				</form>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script>
		// Insert some bootstrap styles into the input fields
		$('#id_new_password1, #id_new_password2').attr('class','form-control')
	</script>
{% endblock %}