{% extends 'user/base.html' %}


{% block head %}
	<title>Request Password Reset</title>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="card border-0" style="max-width:400px;margin:50px auto auto auto;">
			<div class="card-header bg-dark text-light text-center">
				To-Do
			</div>
			<div class="card-body">
				<form action="." method="post">
					{% csrf_token %}
					<div class="form-group">
						{{form.email.label_tag}}
						{{form.email}}
						{% if form.email.errors %}
							{% for error in form.email.errors %}
								<p class="text-danger small">{{error}}</p>
							{% endfor %}
						{% endif %}
					</div>
					<input type="submit" value="Request Password Reset">
				</form>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script>
		// Insert some bootstrap styles into the input fields
		$('#id_email').attr('class','form-control')
	</script>
{% endblock %}