{% extends 'user/base.html' %}


{% block head %}
	<title>Request Password Reset</title>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="card border-0" style="max-width:400px;margin:50px auto auto auto;">
			<div class="card-header bg-dark text-light text-center">
				To-Do
			</div>
			<div class="card-body">
				<p class="text-center text-info">Your password has been successfully reset. You can now sign in with your new password.</p>
				<a style="display:block;text-align:center;" id="reset-signin" href="{% url 'user:signin' %}">Sign In</a>
			</div>
		</div>
	</div>
{% endblock %}