{% extends 'app/base.html' %}
{% load static %}


{% block head %}
	<title>Home</title>
{% endblock %}
{% block content %}
	<div class="container-fluid" style="margin-top:120px">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="id_task">Task:</label>
					<input type="text" id="id_task" class="form-control">
					<p id="error_task" class="text-danger ml-1 small"></p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="id_date_completed">Completed By:</label>
					<div class="row">
						<div class="col-6">
							<input type="date" id="id_date" class="form-control">
						</div>
						<div class="col-6">
							<input type="time" id = 'id_time' class="form-control">
						</div>
					</div>
					<p id="error_date_completed" class="text-danger ml-1 small"></p>
				</div>
			</div>
		</div>
		<div style = 'max-width:400px;margin: 5px auto;'>
			<button id="add" class="btn btn-block btn-dark">Add</button>
		</div>
	</div>
	<div class="container mt-5 mb-5">
		<!-- Tasks In Progress -->
		<div class="card border-primary">
			<div class="card-header bg-primary text-light">
				Tasks In Progress <span id="tasks-in-progress-count" class="badge badge-light">{{tasks_in_progress_total}}</span>
			</div>
			<div id="tasks-in-progress-container" class="card-body p-0">
				{% if tasks_in_progress %}
					<ul id="tasks-in-progress" class="list-group list-group-flush">
						{% for task in tasks_in_progress %}
							<li class="list-group-item p-1 d-flex justify-content-between">
								<div>
									{{task.action}}<br/>
									<span class="text-muted small">Completed By: {{task.completed_by|date:''}}</span>
								</div>
								<div class="d-flex align-items-center">
									<button id = "{{task.id}}" class = 'btn btn-sm btn-success mr-1 complete'>Complete</button>
									<button id = "{{task.id}}" class = 'btn btn-sm btn-danger'>Delete</button>
								</div>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					<p id="no-task-in-progress" class="text-center text-muted lead">No Tasks In Progress</p>
				{% endif %}
			</div>
		</div>
		<!-- Completed Tasks -->
		<div class="card mt-3 border-success">
			<div class="card-header bg-success text-light">
				Completed Tasks <span id="completed-tasks-count" class="badge badge-light">{{ completed_tasks_total }}</span>
			</div>
			<div id="completed-tasks-container" class="card-body p-0">
				{% if completed_tasks %}
					<ul id="completed-tasks" class="list-group">
						{% for task in completed_tasks %}
							<li class="list-group-item p-1 d-flex justify-content-between">
								<div>
									{{task.action}}<br/>
									<span class="text-muted small">Completed By: {{task.completed_by|date:''}}</span>
								</div>
								<div class="d-flex align-items-center">
									<button id = "{{task.id}}" class = 'btn btn-sm btn-danger'>Delete</button>
								</div>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					<p id="no-completed-task" class="text-center mt-2 text-muted lead">No Completed Tasks</p>
				{% endif %}
			</div>
		</div>
		<!-- Uncompleted Tasks -->
		<div class="card mt-3 border-danger">
			<div class="card-header bg-danger text-light">
				Uncompleted Tasks <span class="badge badge-light">0</span>
			</div>
			<div class="card-body p-0">
				{% if uncompleted_tasks %}
					<ul class="list-group">
						{% for task in uncompleted_tasks %}
							<li class="list-group-item">{{ task }}</li>
						{% endfor %}
					</ul>
				{% else %}
					<p class="text-center text-muted mt-2 lead">No Uncompleted Task</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script type="text/javascript" src = "{% static 'app/scripts.js' %}"></script>
	<script>
		addTask("{% url 'app:add_task' %}") // Invoke function
	</script>
{% endblock %}